<!-- @dsCard group="Lists" height=200 -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>preview</title>
<style>html,body{margin:0;height:100%}</style></head>
<body>
<div id="root" class="sg-stage is-plain is-column"></div>
<script>
  var S = window.SantiGlass, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h(React.Fragment, null,
    h(S.List, null,
      h(S.ListRow, { title: 'Storage', subtitle: '128 GB, 41 GB available', onClick: function () {} }),
      h(S.ListRow, { icon: 'music', iconColor: 'var(--wall-pink)', title: 'Music', detail: 'On' , onClick: function () {} }),
      h(S.ListRow, { title: 'Version', detail: '26.1', accessory: 'none' }))
  ));
</script>
</body>
</html>
